<div class="container">
	<div class="aboutUs-nav">
		<li><a href="#/aboutUs/history">Історія</a></li>
		<li><a href="#/aboutUs/study">Навчальний процес</a></li>
		<li><a href="#/aboutUs/aspirantura">Аспірантура</a></li>
		<li><a href="#/aboutUs/science">Наукова дільність</a></li>
		<li class="active-link"><a href="#/aboutUs/students">Студенська наука</a></li>
		<li><a href="#/aboutUs/international">Міднародна діяльність</a></li>
	</div>
	<div class="content">
		<h2>Студенти кафедри приймають активну участь у міжнародних наукових конференціях.</h2>

		<div>
			<h2>2-ге місце секції «Комп'ютерні технології в поліграфії» конференції «Інформаційні інтелектуальні системи»</h2>
			<div class="news-title">
				<div><img src="../img/stud.jpg"/> </div>
				<p>Якимович А. прийняла участь в 17-му Міжнародному молодіжному форумі «Радіоелектроніка та молодь у ХХІ столітті» (20-22 квітня 2013 р., м. Харків).</p>
			</div>
		</div>
		<div class="border-bottom"></div>
		<div ng-repeat="news in studNews" class="news">
		 	<div class="teacher-info">
			 	<h3 ng-if="news.titl">{{news.titl}}</h3>
			 	<h3 ng-if="news.titlEng">{{news.titlEng}}</h3>
			 	<div>
			 	<h5 ng-if="news.date" class="news-date">{{news.date}}</h5>
		 	</div>
		 	<div ng-repeat="(numb, achievement) in news.achievement">
		 		<p>{{numb}} {{achievement}}</p>
		 	</div>
		 	<div class="border-bottom"></div>
		 </div>
	</div>
</div>